@import "reset.scss";
@import "vars.scss";

section {
  margin: 1vmin 0;
}
button {
  height: 4vmin;
  min-width: 4vmin;
  font-size: $button_font;
  border-radius: 5px;
  outline: none;
  background-color: $button_b_color;
  color: $button_f_color;
  text-align: center;

  &:hover {
    cursor: pointer;
  }
}

h2 {
  font-size: $h2_font;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: left;
}

.cityname {
  color: $city_f_color;
  font-size: $city_font;
  margin-left: 1vmin;
}

.briefly {
  display: grid;
  grid-template-areas: 'weathericon weathericon temperature';
  align-items: center;
  justify-items: center;


  .weathericon {
    grid-area: weathericon;
    max-width: $city_font*1.5;
  }

  .picked {
    max-width: 40vmin;
  }

  .temperature {
    white-space: nowrap;
    grid-area: temperature;
    justify-self: left;
  }

}

body {
  display: grid;
  padding: 2%;
}

header {
  display: grid;
  grid-template-columns: 5fr 3fr;

  h1 {
    font-size: $h1_font;
  }

  button {

    font-size: $button_font;
  }
}


.characteristics {
  display: block;

  li {
    display: flex;
    justify-content: space-between;
    font-size: $characteristics_font;
    border-radius: 1vmin;
    background-color: $characteristics_b_color;
    padding: 1vmin;
    margin: 1vmin;

    .value {
      margin-left: 4vmin;
      color: $characteristics_values_color;
    }

    .chname {
      color: $characteristics_f_color;
    }
  }

}

#mylocationweather {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1vmin;

  .cityname {
    grid-column: 1/3;
  }

  .temperature {
    font-size: $temperature_font;
  }
}

#addition {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  .wrapper {
    justify-content: center;
  }
  #add {
    justify-self: center;
    input {
      height: $button_font*2;
      width: $button_font*14;
      padding: 1vmin;
      font-size: $button_font;
    }
  }
}

.removecity {
  margin-right: 1vmin;
}

.favoritescities {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1vmin;
  .city {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: flex-end;
    .wrapper {
      justify-self: end;
    }

    .briefly {
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 'temperature weathericon';

      .weathericon {
        justify-self: left;
        margin-left: 1vmin;
      }

      .temperature {
        justify-self: right;
        white-space: nowrap;
        font-size: $city_font;
      }
    }


    ul {
      display: block;
      grid-column: 1/4;
    }
  }

}

@import "media.scss";

