/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.picked img {
  position: relative;
  height: 70%; }

.characteristics {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start; }
  .characteristics li {
    background-color: #586277;
    padding: 7px;
    margin: 2px;
    border-radius: 5px; }
    .characteristics li .value {
      color: #b8c8da;
      font-size: calc(5px + (25 - 5)*(100vw / 1488));
      float: right; }

body {
  padding: 20px;
  color: #a6bdda; }

h1 {
  font-size: calc(20px + (42 - 20)*(100vw / 1488)); }

h2, h3 {
  font-size: calc(15px + (37 - 15)*(100vw / 1488)); }

button {
  outline: none;
  font-size: calc(10px + (12 - 10)*(100vw / 1488));
  background-color: #a6bdda;
  color: #586277;
  padding: 0 10px;
  border-radius: 20px;
  border: 1px solid #b8c8da;
  cursor: pointer; }
  button:hover {
    background-color: white; }

.temperature {
  display: grid;
  grid-template-areas: "weather cels";
  align-items: center; }
  .temperature .cels {
    grid-area: cels; }
  .temperature .weather {
    grid-area: weather; }

header {
  position: relative;
  display: flex;
  justify-items: center;
  align-items: center; }
  header button {
    margin-left: 25vw;
    height: calc(20px + (42 - 20)*(100vw / 1488)); }

.picked {
  column-gap: 5vw;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr); }
  .picked img {
    justify-self: center;
    margin-top: 10px;
    border: #a6bdda 4px solid; }
  .picked .cels {
    font-size: calc(10px + (80 - 10)*(100vw / 1488)); }
  .picked li {
    font-size: calc(10px + (30 - 10)*(100vw / 1488)); }

.favourites {
  display: grid;
  grid-template-columns: repeat(2, 1fr); }
  .favourites form {
    display: flex;
    position: relative;
    align-items: flex-end;
    justify-content: flex-end;
    width: 300px;
    margin: 0 auto; }
    .favourites form input {
      font-size: calc(12px + (15 - 12)*(100vw / 1488)); }
    .favourites form button {
      width: 40px;
      height: calc(19px + (25 - 19)*(100vw / 1488));
      border: none;
      background: #a6bdda;
      border-radius: 0 5px 5px 0;
      cursor: pointer; }
      .favourites form button:before {
        content: "\27A1";
        font-family: FontAwesome;
        font-size: 16px;
        color: #F9F0DA; }

.cities {
  grid-column: 1/3;
  display: grid;
  column-gap: 5vw;
  grid-template-columns: repeat(2, 1fr); }
  .cities .briefly {
    grid-column: 1/3;
    grid-row: 1;
    display: flex;
    justify-content: space-between; }
    .cities .briefly .temperature {
      margin-left: 5vw;
      grid-template-areas: "cels weather";
      align-items: center;
      column-gap: 5px; }
    .cities .briefly img {
      justify-self: center;
      border: #a6bdda 2px solid;
      height: calc(15px + (37 - 15)*(100vw / 1488)); }
  .cities .close:before {
    content: "\2716"; }

/*# sourceMappingURL=main.css.map */
