@media screen and (max-width: 500px) {
  header {
    .wrapper {
      justify-content: flex-end;
      #refresh {
        font-size: 0;
        padding: 1vmin;
        background-image: url(../img/png/refresh_button.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: $h1_font - 2vmin;
        width: $h1_font;
      }
    }
  }
  #mylocationweather {
    .temperature {
      justify-self: center;
    }
  }
  .favoritescities {
    grid-template-columns: 1fr;
    row-gap: 1vmin;

    .city {
      grid-template-areas: "cityname briefly removebtn";

      .cityname {
        grid-area: cityname;
      }

      .briefly {
        grid-area: briefly;
      }

      .removecity {
        grid-area: removebtn
      }
    }

  }
  #addition {
    grid-template-columns: 1fr;

    #add {
      justify-self: left;
    }
  }
  .briefly {
    grid-column: 1/3;
  }
  .characteristics {
    grid-column: 1/3;
  }
}