/*@media screen and (max-width: 1230px) {
  header {
    h1 {
      margin-right: 15%;
    }
  }
  #addition {
    h2 {
      margin-right: 35%;
    }
  }
}

@media screen and (max-width: 980px) {
  header {
    h1 {
      margin-right: 12%;
    }
  }
  #addition {
    h2 {
      margin-right: 32%;
    }
  }
}
*/

@media screen and (max-width: 700px) {
  header {
    justify-content: space-between;
      #refresh {
        margin: 0;
        font-size: 0;
        padding: 1vmin;
        background-image: url(../img/png/refresh_button.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: $h1_font - 2vmin;
        width: $h1_font;
      }
  }
  #mylocationweather {
    grid-template-columns: 1fr;
    .cityname {
      grid-column: 1;
    }
    .temperature {
      justify-self: center;
      font-size: max(#{$temperature_font}*1.5, 18px);
    }
    .picked {
      max-width: 50vmin;
    }
  }
  .favoritescities {
    grid-template-columns: 1fr;

    .city {
      grid-template-areas: "cityname briefly removebtn";

      .cityname {
        grid-area: cityname;
      }

      .briefly {
        grid-area: briefly;
      }

      .removecity {
        grid-area: removebtn
      }
    }

  }
  #addition {
    flex-wrap: wrap;
    position: static;
    #add {
      position: inherit;
      margin-left: 1vmin;
      margin-top: 1vmin;
      flex-basis: 100%;
    }
  }
}