$h1_font: 8vmin;
$button_font: 2vmin;
$city_font: 5vmin;
$temperature_font: 8vmin;
$characteristics_font: 3vmin;


$button_b_color: #8DA7E9;
$button_f_color: #212D43;
$characteristics_f_color: #2a3e60;
$characteristics_b_color: #7e9cdf;
$characteristics_values_color: #364564;