/*Font sizes*/
$h1_font: 8vmin;
$temperature_font: 8vmin;
$h2_font: 5vmin;
$city_font: 5vmin;
$characteristics_font: 3vmin;
$button_font: 2vmin;

/*Background colors*/
$button_b_color: #8DA7E9;
$characteristics_b_color: #7e9cdf;

/*Font colors*/
$city_f_color: #7e9cdf;
$characteristics_f_color: #2a3e60;
$button_f_color: #212D43;
$characteristics_values_color: #d8defd;